/*css*/

/*Sec1*/
.Sec1 .content h1,.Sec1 .content i
{
    text-align: center;
    font-size: 1.4rem;
    color: rgb(48,49,50) ;
    margin:1rem 0rem;
    font-weight: 700;
    line-height: 1.0909090909;
    transition: color 0s 0s;
}
.Sec1 .content i
{
    font-size: 1.5rem;
    border-color:rgb(48,49,50) !important;
    border-width:0.2rem !important;
    transition: border-color 0s 0s,color 0s 0s;
}
.Sec1 .content p
{
    font-size: 1rem;
    font-weight: 300;
    line-height: 26px;
}
.Sec1 .content a
{
    cursor: pointer;
    transition: color 0s 0s;
    font-size: 1.2rem;
    font-weight: 700;
    line-height: 1.0909090909;
    transition: color 0s 0s;
}
.Sec1 .content .contentLine
{
    border:solid 1px rgb(48,49,50) !important;
    margin-top: 1rem;
}
.Sec1 .content-item:hover a 
{
    color: rgb(0,96,44);
}
.Sec1 .content-item:hover h1
{
    color: rgb(0,96,44);
}
.Sec1 .content-item:hover i
{
    color: rgb(0,96,44);
    border-color: rgb(0,96,44) !important;
}
.Sec1 .content > h1
{
    color: rgb(0,96,44);
}
.adTop
{
    color: rgb(0,96,44);
    background-color: rgb(195,195,196);
}
.adTop h1,.adTop i
{
    color: rgb(0,96,44) !important;
}
.adTop h1
{
    font-size: 0.9rem ;
    font-weight: 400 !important;
}
.adBottom
{
    background-color: rgb(228,228,228);
}
@media screen
{
    .ad
    {
        margin-top: 1rem;
    }

}.Sec1 .content h1,.Sec1 .content i
{
    text-align: center;
    font-size: 1.4rem;
    color: rgb(48,49,50) ;
    margin:1rem 0rem;
    font-weight: 700;
    line-height: 1.0909090909;
    transition: color 0s 0s;
}
.Sec1 .content i
{
    font-size: 1.5rem;
    border-color:rgb(48,49,50) !important;
    border-width:0.2rem !important;
    transition: border-color 0s 0s,color 0s 0s;
}
.Sec1 .content p
{
    font-size: 1rem;
    font-weight: 300;
    line-height: 26px;
}
.Sec1 .content a
{
    cursor: pointer;
    transition: color 0s 0s;
    font-size: 1.2rem;
    font-weight: 700;
    line-height: 1.0909090909;
    transition: color 0s 0s;
}
.Sec1 .content .contentLine
{
    border:solid 1px rgb(48,49,50) !important;
    margin-top: 1rem;
}
.Sec1 .content-item:hover a 
{
    color: rgb(0,96,44);
}
.Sec1 .content-item:hover h1
{
    color: rgb(0,96,44);
}
.Sec1 .content-item:hover i
{
    color: rgb(0,96,44);
    border-color: rgb(0,96,44) !important;
}
.Sec1 .content > h1
{
    color: rgb(0,96,44);
}
.adTop
{
    color: rgb(0,96,44);
    background-color: rgb(195,195,196);
}
.adTop h1,.adTop i
{
    color: rgb(0,96,44) !important;
}
.adTop h1
{
    font-size: 0.9rem ;
    font-weight: 400 !important;
}
.adBottom
{
    background-color: rgb(228,228,228);
}
@media screen
{
    .ad
    {
        margin-top: 1rem;
    }

}
/**/

body
{
    box-sizing: border-box;
}


/*************************************
*BOOK FLIP
***************************************/
.flip-book{
    position: relative;
    background: white;
    direction: rtl;
    text-align: right;
}
.b-red{
    width: 100px;
    height: 660px;
    background-color: rgb(164,33,33);
    position: absolute;
    left: 720px;
    top: 110px;
    z-index: 1;
}



#b-main-head{
    color: rgb(0,96,44);
    text-align: center;
}
.all-book{
    position: relative;
    margin: auto;
    width: 1020px;
    height: 690px;
    background-image: url("../images/leather-pettern.png");
}
.b-layer{
    position: absolute;
    width: 960px;
    height: 630px;
    top: 30px;
    left: 30px;
    background-color: white;
    z-index: 2;
        box-shadow: 0px 0px 21px 2px rgba(0,0,0,0.75);}

}
.scene {
    position: absolute;
    z-index: 2;
    right: 0px;
    top: 0px;
    width: 480px;
    height: 630px;
    margin:  0px;
    perspective: 2000px;
  }
  .book {
    position: absolute;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
  }
  .page {
    cursor: pointer;
    position: absolute;
    color: black;
    width: 100%;
    height: 100%;
    
    transition: 1.5s transform;
    transform-style: preserve-3d;  
    transform-origin: left center;
  }
  .front,
  .back {
    position: absolute;
    padding: 30px 40px;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    backface-visibility: hidden;
    background:white;
    border-left:  1px solid gainsboro;
    border-right:  1px solid gainsboro;

  }

  .back {
    transform: rotateY(-180deg);
    border-left:  5px solid gainsboro;
  }
  
  .front{
    border-right:  5px solid gainsboro;

  }
 

  .page.active {
    z-index: 22;
  }
  .page.flipped {
    transform: rotateY(-180deg);
  }
  .page.flipped:last-of-type {
    z-index: 22;
  }
  
#prevBtn{
    position: absolute;
    bottom: 10px;
    left: -90%;
}

#nextBtn{
    position: absolute;
    bottom: 10px;
    right: 10%;
}

#nextBtn:hover 
, #prevBtn:hover{
    background-color: black;
    color: white;
}

.p-head1{
    color:rgb(0,96,44) ;
}

.p-head2{
    color: rgb(186, 156,92);

}

.readMore{
    text-align: center;
}
.readMore a{
    color:rgb(0,96,44) ;
}

.b-decore{
    border-right: 1px solid gray;
    margin-right: 1px;
    height: 630px;
}

/*************************************
* END BOOK FLIP
***************************************/



