/*css*/

/*Sec1*/
.Sec1 .content h1,.Sec1 .content i
{
    text-align: center;
    font-size: 1.4rem;
    color: rgb(48,49,50) ;
    margin:1rem 0rem;
    font-weight: 700;
    line-height: 1.0909090909;
    transition: color 0s 0s;
}
.Sec1 .content i
{
    font-size: 1.5rem;
    border-color:rgb(48,49,50) !important;
    border-width:0.2rem !important;
    transition: border-color 0s 0s,color 0s 0s;
}
.Sec1 .content p
{
    font-size: 1rem;
    font-weight: 300;
    line-height: 26px;
}
.Sec1 .content a
{
    cursor: pointer;
    transition: color 0s 0s;
    font-size: 1.2rem;
    font-weight: 700;
    line-height: 1.0909090909;
    transition: color 0s 0s;
}
.Sec1 .content .contentLine
{
    border:solid 1px rgb(48,49,50) !important;
    margin-top: 1rem;
}
.Sec1 .content-item:hover a 
{
    color: rgb(0,96,44);
}
.Sec1 .content-item:hover h1
{
    color: rgb(0,96,44);
}
.Sec1 .content-item:hover i
{
    color: rgb(0,96,44);
    border-color: rgb(0,96,44) !important;
}
.Sec1 .content > h1
{
    color: rgb(0,96,44);
}
.adTop
{
    color: rgb(0,96,44);
    background-color: rgb(195,195,196);
}
.adTop h1,.adTop i
{
    color: rgb(0,96,44) !important;
}
.adTop h1
{
    font-size: 0.9rem ;
    font-weight: 400 !important;
}
.adBottom
{
    background-color: rgb(228,228,228);
}
@media screen
{
    .ad
    {
        margin-top: 1rem;
    }

}.Sec1 .content h1,.Sec1 .content i
{
    text-align: center;
    font-size: 1.4rem;
    color: rgb(48,49,50) ;
    margin:1rem 0rem;
    font-weight: 700;
    line-height: 1.0909090909;
    transition: color 0s 0s;
}
.Sec1 .content i
{
    font-size: 1.5rem;
    border-color:rgb(48,49,50) !important;
    border-width:0.2rem !important;
    transition: border-color 0s 0s,color 0s 0s;
}
.Sec1 .content p
{
    font-size: 1rem;
    font-weight: 300;
    line-height: 26px;
}
.Sec1 .content a
{
    cursor: pointer;
    transition: color 0s 0s;
    font-size: 1.2rem;
    font-weight: 700;
    line-height: 1.0909090909;
    transition: color 0s 0s;
}
.Sec1 .content .contentLine
{
    border:solid 1px rgb(48,49,50) !important;
    margin-top: 1rem;
}
.Sec1 .content-item:hover a 
{
    color: rgb(0,96,44);
}
.Sec1 .content-item:hover h1
{
    color: rgb(0,96,44);
}
.Sec1 .content-item:hover i
{
    color: rgb(0,96,44);
    border-color: rgb(0,96,44) !important;
}
.Sec1 .content > h1
{
    color: rgb(0,96,44);
}
.adTop
{
    color: rgb(0,96,44);
    background-color: rgb(195,195,196);
}
.adTop h1,.adTop i
{
    color: rgb(0,96,44) !important;
}
.adTop h1
{
    font-size: 0.9rem ;
    font-weight: 400 !important;
}
.adBottom
{
    background-color: rgb(228,228,228);
}
@media screen
{
    .ad
    {
        margin-top: 1rem;
    }

}
/**/

body
{
    box-sizing: border-box;
}
/**************End Sec1****************/


/***********Books show*****************/
.books
{
    background:url('../images/slider1.jpg');
    background-size: 100% 100%;
}
.booksDarker
{
    background-color: rgba(0,0,0,0.85);
}
.books p
{
    color: rgb(55, 75, 61);
    margin-top: 1rem;
    font-size: 1.5rem;
}
.books .borderL
{
    border-left: 1px solid black;
}
.books .bookItemLayer
{
    color: white;
    position: absolute;
    left: 0;
    height: 100%;
    width: 100%;
    top:100%;
    background-color: rgb(186, 156,92);
    transition: top 0.2s 0s;
}
.bookItem
{
    position: relative;
    overflow: hidden;
    background-color: white;
}
.bookItem:hover .bookItemLayer
{
    top:0%;
}
.bookItemLayer h1
{
    font-size: 1.6rem;
    font-weight: 800;
    line-height: 1.0909090909 rem;
    padding: 1rem 0rem;
}
.bookItemLayer i
{
    font-size: 1rem;
    font-weight: 300;
    padding-bottom: 1rem;
}
.bookItemLayer h3
{
    font-size: 1.2rem;
    font-weight: 300;
    padding-bottom: 0.2rem;
}
.bookItemLayer h2
{
    font-size: 1.6rem;
    font-weight: 800;
    margin-bottom: 1rem;
}
.bookItemLayer button
{
    font-size: 1.2rem;
    font-weight: 800;
}
.aboveBooks a,.aboveBooks i
{
    font-size:1.6rem ;
    color: rgb(55, 75, 61);
}
.aboveBooks a
{
    text-decoration: none;
    transition: color 0s 0s , background-color 0s 0s;
}
.aboveBooks i
{
    padding-top: 0.3rem;
}
.aboveBooks a:hover
{
color:white;
background-color:rgb(186, 156,92);
}


/**************************************/





/********************************************
			COUNTER UP SECTION
**********************************************/
#counterjs{
    text-align: center;
    color: white;
}

.count-p{
    margin-top: 25px;
    /* border-bottom: 1px solid white; */
}
.count-p p::before {
    content: "";
    height: 1px;
    width: 50px;
    background-color: 
    #fff;
    position: absolute;
    left: 0px;
    right: 0px;
    bottom: 25px;
    margin: auto;
}


.count-bg{
    background-color: rgb(186, 156,92);
}

.count-part{
    background-color: rgb(156, 145, 84);
    height: 100%;
}

.circle-part{
    background-color: rgb(188, 180, 139);
    border-radius: 50%;
    height: 60%;
    width: 60%;
    padding: 20px;
}

.circle-bg{

    background-color: rgb(208,188,144);
    height: 60%;
    width: 60%;
    border-radius: 50%;
    text-align: center;
    padding: 0px;   
}

.num-board{

    border-radius: 50%;
    width: 100px;
    height: 100px;
    border: 1px solid white;
    margin-left: 30px;
}

.num-board span{
    padding-top: 20px;
}
/********************************************
		END	COUNTER UP SECTION
**********************************************/

/*************************************
*BOOK FLIP
***************************************/
.flip-book{
    position: relative;
    background: white;
    direction: rtl;
    text-align: right;
}
.b-red{
    width: 100px;
    height: 662px;
    background-color: rgb(164,33,33);
    position: absolute;
    left: 720px;
    top: 110px;
    z-index: 1;
}



#b-main-head{
    color: rgb(0,96,44);
    text-align: center;
}
.all-book{
    position: relative;
    margin: auto;
    width: 1020px;
    height: 690px;
    background-image: url("../images/leather-pettern.png");
}
.b-layer{
    position: absolute;
    width: 960px;
    height: 630px;
    top: 30px;
    left: 30px;
    background-color: white;
    z-index: 2;
    box-shadow: 0px 0px 21px 2px rgba(0,0,0,0.75);

}
.scene {
    position: absolute;
    z-index: 2;
    right: 0px;
    top: 0px;
    width: 480px;
    height: 630px;
    margin:  0px;
    perspective: 2000px;
  }
  .book {
    position: absolute;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
  }
  .page {
    cursor: pointer;
    position: absolute;
    color: black;
    width: 100%;
    height: 100%;
    
    transition: 1.5s transform;
    transform-style: preserve-3d;  
    transform-origin: left center;
  }
  .front,
  .back {
    position: absolute;
    padding: 30px 40px;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    backface-visibility: hidden;
    background:white;
    border-left:  1px solid gainsboro;
    border-right:  1px solid gainsboro;

  }

  .back {
    transform: rotateY(-180deg);
    border-left:  5px solid gainsboro;
  }
  
  .front{
    border-right:  5px solid gainsboro;

  }
 

  .page.active {
    z-index: 22;
  }
  .page.flipped {
    transform: rotateY(-180deg);
  }
  .page.flipped:last-of-type {
    z-index: 22;
  }
  
#prevBtn{
    position: absolute;
    bottom: 10px;
    left: -90%;
}

#nextBtn{
    position: absolute;
    bottom: 10px;
    right: 10%;
}

#nextBtn:hover 
, #prevBtn:hover{
    background-color: black;
    color: white;
}

.p-head1{
    color:rgb(0,96,44) ;
}

.p-head2{
    color: rgb(186, 156,92);

}

.readMore{
    text-align: center;
}
.readMore a{
    color:rgb(0,96,44) ;
}

.b-decore{
    border-right: 1px solid gray;
    margin-right: 1px;
    height: 630px;
}

/*************************************
* END BOOK FLIP
***************************************/


/*************************************
*MEMBERSHIP
***************************************/

#membership{
    text-align: right;
}
#member-main-head{
    text-align: center;
    color: rgb(0,96,44);
}

#membership i{
    padding-right: 10px;
    color: white;
    
}

.inputForm{
    background-color: rgb(186, 156,92);
}

.signinBtn{
    background-color: rgb(0,96,44);
    text-align: center;
    width: 150px;
    color: white;
}


.in{
    background-color: rgb(186, 156,92);
    border: none;
    width: 210px;
    color: white;
    text-align: right;
}


.inputForm select {
    direction: rtl;
    /* -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: url(/images/arrdwn.png) no-repeat; */
  }
/*************************************
* END MEMBERSHIP
***************************************/



/********************************************
		CONTACT US MAP
**********************************************/

#contactUS{
    text-align: center;
}

.contact-h{
    height: 400px;
    margin: 0;
    padding: 0;
}

.contact-h img{
    width: 100%;
    height: 100%;
}

.location{
    position: relative;
}


#map { 
    position:absolute; 
    top:0; 
    bottom:0; 
    left: 0;
    right: 0;
 }

 .contain{
     position: relative;
 }
 .infoCircle{
     background-color: white;
     position: absolute;
     top: 50px;
     left: 39.5%;
     text-align: center;
     height: 300px;
     width: 300px;
     border-radius: 50%;
 }
.contactInfo{
    margin-top: 40px;
}

.contactInfo i{
    color: rgb(0,96,44);
    margin-top: 20px;
}

.infoP{
    margin-top: 10px;
    margin-bottom: 40px;
}
.infoH{
    position: relative;
}
.h-line::before{
    content: "";
    height: 1px;
    width: 200px;
    background-color: black;
    position: absolute;
    left: 0px;
    right: 0px;
    top: 30px;
    margin: auto;
}

.h-line::after{
    content: "";
    height: 1px;
    width: 200px;
    background-color: black;
    position: absolute;
    left: 0px;
    right: 0px;
    bottom: 30px;
    margin: auto;
}
.contact-h,.location{
    background-color: rgb(208,188,144);
}

/********************************************
		END	CONTACT US MAP
**********************************************/
/*************************************
* END FOOTER
***************************************/
.footer{
    background-color: rgb(186, 156,92);
    color: white;
    height: 50px;
    width: 100%;
    padding-top: 10px;
}
.social-icon{
    margin-right: 600px;
}

.social-icon i{
    padding-right: 10px;
}

.f-copyrights p{
    font-size: 12px;
}

/*************************************
* END FOOTER
***************************************/
