/*css*/
.cl
{
    color: rgb(186, 156,92);

    color: rgb(208,188,144);

    color: rgb(156, 145, 84);

    color: rgb(188, 180, 139);

    color: rgb(55, 75, 61);

    color: rgb(0,96,44);

    color: rgb(228,228,228);

    color: rgb(195,195,196);

    color: rgb(48,49,50);

    color: rgb(121,122,122);

    color: rgb(164,33,33);

}

body
{
    box-sizing: border-box;

}
/* 
.containr{
    width: 250px;
    height: 250px;
    background: black;
    position: relative;
    left:50%;
    top:200px;
    transform:  translate(-50%, -50%);
    perspective:  1000px;
}

.cover{
    width: 210px;
    height: 100%;
    position: absolute;
    left:40px;
    background-color: cornflowerblue;
    transform:  rotateY(0deg);
    transform-style: preserve-3d;
    transform-origin:left ;
    transition:  all .5s ease-in;
}

.containr:hover .cover
{
    transform: rotateY(-180deg);
}

figure{
    margin: 0;
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}

 .fron{
    background-color: red;
}

 .bac{
    background-color: green;
    transform: rotateY(180deg);
}
*/

body
{
    background: white;
    direction: rtl;
    text-align: right;

} 

.all-book{
    position: relative;
    margin: auto;
    width: 960px;
    height: 630px;
        /* border: solid 20px violet; */
    background-color: white;
    box-shadow: -3px -1px 83px 0px rgba(102,99,102,1);
}
.scene {
    position: absolute;
    right: 0;

    width: 480px;
    height: 630px;
    margin:  0px;
    perspective: 2000px;
  }
  .book {
    position: absolute;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
  }
  .page {
    cursor: pointer;
    position: absolute;
    color: black;
    width: 100%;
    height: 100%;
    
    transition: 1.5s transform;
    transform-style: preserve-3d;  
    transform-origin: left center;
  }
  .front,
  .back {
    position: absolute;
    padding: 30px 40px;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    backface-visibility: hidden;
    background:white;
    border-left:  2px solid gainsboro;
  }

  .back {
    transform: rotateY(-180deg);
  }
  
 

  .page.active {
    z-index: 1;
  }
  .page.flipped {
    transform: rotateY(-180deg);
  }
  .page.flipped:last-of-type {
    z-index: 1;
  }
  
 
  
#prevBtn{
    position: absolute;
    bottom: 10px;
    left: -90%;
}

#nextBtn{
    position: absolute;
    bottom: 10px;
    right: 10%;
}

#nextBtn:hover 
, #prevBtn:hover{
    background-color: black;
    color: white;
}

.p-head1{
    color:rgb(0,96,44) ;
}

.p-head2{
    color: rgb(186, 156,92);

}

.readMore{
    text-align: center;
}
.readMore a{
    color:rgb(0,96,44) ;
}

.b-decore{
    border-right: 1px solid gray;
    margin-right: 1px;
    height: 630px;
}


